.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imageContainer {
  left: 50%;
  top: 30%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.spotifyPlayer {
  position: relative;
  max-height: '1000%';
}

.example::-webkit-scrollbar {
  display: none;
}

.innerScroll {
  width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px; 
    box-sizing: content-box;
}

.outerScroll {
  width: 100%;
  height: 100%;
  padding-left: 17px;
  position: absolute;
  overflow: hidden;
  overflow-x: hidden;
}

